body{
    background:#0f172a;
    color:white;
    font-family:Arial;
    text-align:center;
}

h1{
    color:#00ff88;
}

form{
    width:350px;
    margin:auto;
}

input, textarea{
    width:100%;
    padding:10px;
    border-radius:6px;
    border:1px solid white;
    margin-top:5px;
}

button{
    background:#00ff88;
    color:black;
    padding:10px 20px;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:white;
}