body{
    font-family:Arial;
    background:#f4f4f4;
}

.container{
    width:350px;
    margin:40px auto;
    padding:20px;
    background:white;
    border-radius:10px;
    box-shadow:0px 0px 10px gray;
    text-align:center;
}

input{
    width:90%;
    padding:10px;
    margin:10px;
}

button{
    padding:10px 20px;
    margin:10px;
}

#box{
    width:100px;
    height:100px;
    background:tomato;
    margin:auto;
    transition:1s;
}

.move{
    transform:translateX(120px) rotate(360deg);
}